

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(40, 43, 42);
    color: white;
}

.w-100 {
    width: 100%;
}

    

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}



.snackbar-success.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: rgb(186, 240, 186);

    .mat-mdc-button {
      color: black !important;
    }
  }
  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: black;
    font-weight: 500;
    font-size: 16px;
    white-space: pre-wrap
  }
}
.snackbar-warn.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: rgb(236, 202, 137);

    .mat-mdc-button {
      color: black !important;
    }
  }
  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: black;
    font-weight: 500;
    font-size: 16px;
    white-space: pre-wrap
  }
}
.snackbar-info.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: rgb(176, 176, 240);

    .mat-mdc-button {
      color: black !important;
    }
  }
  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: black;
    font-weight: 500;
    font-size: 16px;
    white-space: pre-wrap
  }
}




