

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(40, 43, 42);
    color: white;
}

    

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}



.snackbar-success.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: rgb(137, 248, 137);

    .mat-mdc-button {
      color: white !important;
    }
  }
  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: white;
    font-weight: 500;
    white-space: pre-wrap
  }
}
.snackbar-warn.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: orange;

    .mat-mdc-button {
      color: white !important;
    }
  }
  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: white;
    font-weight: 500;
    white-space: pre-wrap
  }
}
.snackbar-info.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: rgb(142, 142, 241);

    .mat-mdc-button {
      color: white !important;
    }
  }
  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: white;
    font-weight: 500;
    white-space: pre-wrap
  }
}




